<div class="calculator">

    <div type="text" class="calculator-screen">
        <div id="display">
          {{ display }}
        </div>
    </div>

    <div class="calculator-keys">

        <button type="button" (click) = "symbol('+')" class="operator" value="+">+</button>
        <button type="button" (click) = "symbol('-')" class="operator" value="-">-</button>
        <button type="button" (click) = "symbol('*')" class="operator" value="*">&times;</button>
        <button type="button" (click) = "symbol('/')" class="operator" value="/">&divide;</button>

        <button type="button" (click) = "number('7')" value="7">7</button>
        <button type="button" (click) = "number('8')" value="8">8</button>
        <button type="button" (click) = "number('9')" value="9">9</button>


        <button type="button" (click) = "number('4')" value="4">4</button>
        <button type="button" (click) = "number('5')" value="5">5</button>
        <button type="button" (click) = "number('6')" value="6">6</button>


        <button type="button" (click) = "number('1')" value="1">1</button>
        <button type="button" (click) = "number('2')" value="2">2</button>
        <button type="button" (click) = "number('3')" value="3">3</button>

        <button type="button" (click) = "number('0')" value="0">0</button>
        <button type="button" (click) = "number('.')" class="decimal" value=".">.</button>
        <button type="button" (click) = "reset()"  class="all-clear" value="all-clear">AC</button>

        <button type="button" (click) = "symbol('=')" class="equal-sign" value="=">=</button>
    </div>
</div>
